In [9]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.1-cp39-cp39-win_amd64.whl (3.6 MB)
     ---------------------------------------- 3.6/3.6 MB 5.9 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import lxml

## 환율 정보 가져오기
- table 태그 안에 표가 없는 경우, 긁어오지 못할 수도 => 그럴 땐 크롤링 해야해

In [2]:
url = "https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%ED%99%98%EC%9C%A8&oquery=&tqi=h1Xv1lprvTossc%2Fhlosssssst0V-182524"

data = pd.read_html(url) # table이라는 태그에 있는 데이터를 list 형태로 가져옴
data[0]  # 표 여러개 있을 수도 있고, 리스트에 담기니까 그 중 첫번째만 가져오기

          통화명    매매기준율         전일대비     등락률
0      미국 USD  1423.50   전일대비상승0.50  +0.04%
1  일본 JPY 100   968.80   전일대비하락5.16  -0.53%
2    유럽연합 EUR  1415.96   전일대비하락8.75  -0.61%
3      중국 CNY   196.09   전일대비하락0.23  -0.12%
4      영국 GBP  1638.88  전일대비하락10.66  -0.65%
5      호주 AUD   914.17   전일대비하락7.15  -0.78%
6     캐나다 CAD  1046.42   전일대비하락4.93  -0.47%
7    뉴질랜드 NZD   827.91   전일대비하락2.70  -0.33%

In [3]:
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"

pd.read_html(url)

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]