In [1]:
1+1

2

In [2]:
import tensorflow as tf

## 시그마

In [9]:
res = 0

for i in range(1,11):
    res += i
    print(i,"=",res)

1 = 1
2 = 3
3 = 6
4 = 10
5 = 15
6 = 21
7 = 28
8 = 36
9 = 45
10 = 55

In [15]:
res = 0

for a,b in enumerate(range(7,10)):
    res += b
    print(a+1,"번째",":",res)

1 번째 : 7
2 번째 : 15
3 번째 : 24

In [24]:
res = 0

for i in range(10):
    res += 3
    print(i+1, "번째:", res)

1 번째: 3
2 번째: 6
3 번째: 9
4 번째: 12
5 번째: 15
6 번째: 18
7 번째: 21
8 번째: 24
9 번째: 27
10 번째: 30

In [22]:
res = 0

for i in range(1, 11):
    res += 3*i
    print(i, "번째:", res)

1 번째: 3
2 번째: 9
3 번째: 18
4 번째: 30
5 번째: 45
6 번째: 63
7 번째: 84
8 번째: 108
9 번째: 135
10 번째: 165

In [27]:
check = []
a = 1

if a == 1:
    check += "A"
    
check

['A']

In [28]:
res = 0

for i in range(1,3):
    for j in range(1,4):
        res += i - j
res

-3

In [29]:
res = 0

for j in range(1,4):  # 순서 바꿔도 같네 ??? 왜냐면 i-j의 순서가 바뀐 건 아니니까 ! 
    for i in range(1,3):
        res += i - j
res

-3

## Pi 파이

In [32]:
res = 1
for i in range(1, 11):
    res*= i
    print(i,"번째:", res)

1 번째: 1
2 번째: 2
3 번째: 6
4 번째: 24
5 번째: 120
6 번째: 720
7 번째: 5040
8 번째: 40320
9 번째: 362880
10 번째: 3628800

In [33]:
res = 1
for i in range(1, 6):
    res*= 3
    print(i,"번째:", res)

1 번째: 3
2 번째: 9
3 번째: 27
4 번째: 81
5 번째: 243

In [34]:
res = 1
for i in range(1, 6):
    res*= 2*i
    print(i,"번째:", res)

1 번째: 2
2 번째: 8
3 번째: 48
4 번째: 384
5 번째: 3840

In [42]:
res = 1
for i in range(1,4):
    for j in range(4,6):
        res *= i-j
        print("i =",i,",j =",j,",i-j=",res)

i = 1 ,j = 4 ,i-j= -3
i = 1 ,j = 5 ,i-j= 12
i = 2 ,j = 4 ,i-j= -24
i = 2 ,j = 5 ,i-j= 72
i = 3 ,j = 4 ,i-j= -72
i = 3 ,j = 5 ,i-j= 144

In [43]:
res = 1
for j in range(4,6):
    for i in range(1,4):  
        res *= i-j     # 결국 순서는 같기 때문에 j가 먼저 돌든, i가 먼저 돌든 상관없음 
        print("i =",i,",j =",j,",i-j=",res)

i = 1 ,j = 4 ,i-j= -3
i = 2 ,j = 4 ,i-j= 6
i = 3 ,j = 4 ,i-j= -6
i = 1 ,j = 5 ,i-j= 24
i = 2 ,j = 5 ,i-j= -72
i = 3 ,j = 5 ,i-j= 144

## factorial 팩토리얼

In [46]:
res = 1
for i in range(1,6):  # 1 -> 5 증가 !! 이 방법이 실수 안하니까 이걸로 해 !! 
    res *= i
    print(i, res)

1 1
2 2
3 6
4 24
5 120

In [47]:
res = 1
for i in range(5, 0, -1):  # 5 -> 1까지 하나씩 감소 
    res *= i
    print(i, res)

5 5
4 20
3 60
2 120
1 120

In [ ]:
## 함수화하기 - 감소 

def factorial(n):
    res = 1
    for i in range(n, 0, -1):
        res *= i
        print(i, res)
    return res

In [49]:
## 함수화하기 - 증가 (선호함)

def factorial(n):
    res = 1
    for i in range(1, n+1):
        res *= i
        print(i, res)
    return res

In [52]:
factorial(5)

5 5
4 20
3 60
2 120
1 120

120

## Combination(조합), Binomial (이항함수)
- nCx 
- n개 중에 x개를 순서 상관없이 뽑을 수 있는 경우의 수

In [54]:
def factorial(n):
    res = 1
    for i in range(1, n+1):
        res *= i
    return res

In [56]:
factorial(4)/(factorial(2)*factorial(4-2))

6.0

In [61]:
def binomial(n, x):
    res = 1 # 안해도 되나 ? 
    res = factorial(n)/(factorial(x)*factorial(n-x))
    return res

In [62]:
binomial(4,2)

6.0

## Indicator function 지시함수
- x가 A에 속하면 1, 속하지 않으면 0

In [63]:
x = 13
x < 10

False

In [64]:
int(x < 10)

0

In [65]:
float(x < 10)

0.0

In [70]:
res = 0  # 초기화할 땐 1,0말고 다른 숫자 넣어보기 
x = 13

if x < 10:
    res = 1
else:
    res = 0

res

0

In [71]:
li = list(map(int, input().split()))
print(max(li))

1 3 5
5

## 자연 상수 e 
- 2.7182818284 => `2.718`
- `lambda`

In [72]:
n = 100
e = (1+(1/n))**n
print(e)

2.7048138294215285

In [73]:
n = 1000
e = (1+(1/n))**n
print(e)

2.7169239322355936

In [74]:
n = 10000
e = (1+(1/n))**n
print(e)

2.7181459268249255

In [75]:
n = 100000
e = (1+(1/n))**n
print(e)

2.7182682371922975

In [76]:
n = 1000000
e = (1+(1/n))**n
print(e)

2.7182804690957534

In [85]:
n = 100000000000
e = (1+(1/n))**n
print(e)

2.71828205335711

In [86]:
n = 1000000000000000 # 0을 많이 넣으면 컴퓨터의 한계(memory RAM)때문에 값이 제대로 안나옴 !!! print 무조건 해봐야 함 ! 
e = (1+(1/n))**n
print(e)

3.035035206549262

## min, argmin
min: 최소값  
argmin: 최소값의 index

In [87]:
x = [4,2,8,9,3]

min_value = min(x)
min_value

2

In [88]:
## argmin 순수 파이썬으로 구현
x.index(min_value)

1

In [89]:
## numpy 라이브러리 사용
import numpy as np

np.min(x)

2

In [90]:
np.argmin(x)

1

## max, argmax

In [91]:
x = [4,2,8,9,3]

max_value = max(x)
max_value

9

In [92]:
## argmin 순수 파이썬으로 구현
x.index(max_value)

3

In [93]:
## numpy 라이브러리 사용
import numpy as np

np.max(x)

9

In [94]:
np.argmax(x)

3